
    
/*логотип*/
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
     }
a {
    text-decoration: none; /* Скасовуємо підкреслення у посилань */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
    
 a:hover {
    text-decoration: underline; /* Додаємо підкреслення */
      }

   /*шрифт і колір для сторінок*/
    .style{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #212121;
    }

/*навігація*/
li {
    display: block;
  }
  .nav-one{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .nav-two{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .nav-three{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
   
  }
  
  /*заголовок*/
  .title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color:#ffffff;
   
  }
.fon{
    background-color:#2f303A;
}
  
  .button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
     margin: 0 auto;
    display: block; 
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px; 
   
    border-radius: 10px;
  }
  /*активна кнопка при наведенні мишки*/
  button:hover {
    background: #2196f3;
    color:#ffffff;
  }

  /*основне*/
  .main-one{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
 
.text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:#757575;
  }
 
  /*робота*/
  .work{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  /*команда*/
  .teams{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .team{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;   
}

.team-one{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color:#757575;  
}

/*підвал*/
.footer{
    background-color: #2f303A;
    }

.address{
    font-style: normal;  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: #ffffff;
}

.link,
.telefon{ 
    font-style: normal; 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: rgb(255,255,255,0.6)    
}

/*портфоліо*/
.button-one{
   font-family: 'Roboto', sans-serif; 
   font-weight: 500; 
   border: 0;
   border-radius: 5px;
   background: #2196f3;
   color: #fff;
   padding: 8px 16px;
   font-size: 16px;
}

/*меню кнопки*/
.button-two{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em; 
    text-align: center; 
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
}

/*портфоліо роботи*/
.work-port{
    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em; 
}

.work-one{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;  
    color:#757575;  
}
